/* LoginPage.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Cool gradient background */
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #333;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #feb47b; /* Hover effect */
}

button:focus {
  outline: none;
}

/* Style for Remember Me container */
.remember-me-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  color: #555;
  font-family: 'Arial', sans-serif;
}

/* Checkbox styling */
.remember-me-container input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  accent-color: #ff7e5f; /* Set the checkbox color */
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.remember-me-container label {
  cursor: pointer;
}
